$grid-length: 12;
$grid-max-width: 1200px;
$grid-box-sizing: border-box;

$text-grey: #E1E1E1;
$text-black: #222222;
$text-paragraph-grey: #BFBFBF;
$background-black: #222222;

$timeline-hero-inset: 4rem;
